.icon {
    display: flex;
    align-items: flex-start;
}

.icon, .icon-click {
    color: #f1f1f1;
    text-decoration: none;
}

.icon-click{
    cursor: pointer;
}

.icon p {
    margin-left: 0.5rem;
    line-height: 22px;
}