.read-more-btn {
    background: none;
    border: none;
    color: #f1c40f;
    cursor: pointer;
    font-weight: bold;
}

.read-more-text p {
  margin-bottom: 1rem !important;
}

.read-more-text p:last-of-type {
  margin-bottom: 0;
}