.snackbar {
    all: unset;
    position: absolute;
    bottom: 20px;
  right: 20px;
    background: rgba(30, 30, 30, 0.95);
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    opacity: 0;
}

.slide-in {
    animation: slideUp 0.4s ease-out forwards;
}
  
.slide-out {
    animation: slideDown 0.4s ease-in forwards;
}

@keyframes slideUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
    }
}
  
.snackbar-success {
    border-left: 5px solid #2ecc71;
}
  
.snackbar-error {
    border-left: 5px solid #e74c3c;
}
  