.progress-bar-container {
    margin-bottom: 15px;
}
  
.progress {
    width: 100%;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}
  
.progress-fill {
    height: 16px;
    background: #f1c40f;
    text-align: center;
    line-height: 20px;
    color: #010101;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
  