.container-footer {
    width: 100%;
    bottom: 0;
    padding: 20px 70px;
    background-color: #615f5b2b;
}

.tech-stack-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    max-width: 5%;
    min-width: 100px;
}

.content-footer {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.tech-stack-container {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    background-color: #c5c5c56e;
    border-radius: 40px;
}

.tech-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.tech-stack-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    min-width: 100px;
}

.container-footer .social-icons {
    margin-top: 0 !important;
}

.container-footer .social-icons a:hover {
    color: #010101;
}

@media (min-width:767px) {
    .content-footer.icons-copyright {
        justify-content: space-between !important;
    }
}

@media (max-width: 767px) {
    .container-footer {
        padding: 20px;
    }
    .content-footer {
        flex-direction: column;
    }
    .tech-stack-footer{
        max-width: 100px;
        min-width: 50px;
    }
    .content-footer.icons-copyright {
        flex-direction: column-reverse;
    }
    .content-footer.icons-copyright p {
        margin-top: 15px;
    }
}

@media (max-width: 385px) {
    .tech-logo {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
}