.layout-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: radial-gradient(
        circle at top left,
        rgba(48, 36, 78, 0.25),
        transparent 40%
    ),
    radial-gradient(
        circle at bottom right,
        rgba(139, 92, 246, 0.2),
        transparent 40%
    ),
    linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #1e1b4b
    );
}
  
.page-content {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    padding-inline: 5%;
    padding-top: 100px;
    padding-bottom: 20px;
}

@media (max-width: 576px) {
    .page-content{
        padding-inline: 0;
    }
}