.layout-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: 
        radial-gradient(
            circle at center,
            rgba(59, 130, 246, 0.25),
            transparent 40%
        ),
        linear-gradient(
            to right,
            #020617,
            #020617 30%,
            #020617 70%,
            #020617
        );
}
  
.page-content {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    padding-inline: 5%;
    padding-top: 100px;
    padding-bottom: 20px;
}

@media (max-width: 576px) {
    .page-content{
        padding-inline: 0;
    }
}